# Database Configuration
DATABASE_URL=jdbc:postgresql://localhost:5432/wafipix
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=admin

# Google OAuth Configuration
GOOGLE_CLIENT_ID=323341037163-k0e5fa261jg00ak74qsmrooiegd1qunh.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Email Configuration
MAIL_HOST=mail.wafipix.com
MAIL_PORT=587
MAIL_USERNAME=info@wafipix.com
MAIL_PASSWORD=your_namecheap_email_password

# Contact Configuration
CONTACT_NOTIFY_EMAIL=info@wafipix.com
ADMIN_URL=http://localhost:3000/admin

# JWT Configuration
JWT_SECRET=Sk9Gxfr8hkSbPx7TXONQJsEff4XXAmWGas5WGq8LMtX5KNXg3CQ4XpdvEIXPXL3j3vPDVsP5NAsNWK+tsjx7lw==
JWT_ACCESS_TOKEN_EXPIRATION=864000000
JWT_REFRESH_TOKEN_EXPIRATION=864000000

# API Configuration
API_BASE_URL=http://localhost:8080

# Cloudflare R2 Configuration
# Admin Configuration
ADMIN_ENABLED=true
ADMIN_EMAIL_1=info.alamgirhussain@gmail.com
ADMIN_FIRST_NAME_1=Alamgir
ADMIN_LAST_NAME_1=Hussain
ADMIN_PHONE_1=
ADMIN_ACTIVE_1=true

ADMIN_EMAIL_2=admin2@wafipix.com
ADMIN_FIRST_NAME_2=Admin
ADMIN_LAST_NAME_2=Two
ADMIN_PHONE_2=
ADMIN_ACTIVE_2=true

ADMIN_EMAIL_3=admin3@wafipix.com
ADMIN_FIRST_NAME_3=Admin
ADMIN_LAST_NAME_3=Three
ADMIN_PHONE_3=
ADMIN_ACTIVE_3=true
