# Database Configuration
DATABASE_URL=jdbc:postgresql://localhost:5432/wafipix
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=admin

# Google OAuth Configuration
GOOGLE_CLIENT_ID=323341037163-k0e5fa261jg00ak74qsmrooiegd1qunh.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Email Configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=info.alamgirhussain@gmail.com
MAIL_PASSWORD=emsw whgk tifz wmrm

# Contact Configuration
CONTACT_NOTIFY_EMAIL=info@wafipix.com
ADMIN_URL=http://localhost:3000/admin

# JWT Configuration
JWT_SECRET=Sk9Gxfr8hkSbPx7TXONQJsEff4XXAmWGas5WGq8LMtX5KNXg3CQ4XpdvEIXPXL3j3vPDVsP5NAsNWK+tsjx7lw==
JWT_ACCESS_TOKEN_EXPIRATION=864000000
JWT_REFRESH_TOKEN_EXPIRATION=864000000

# API Configuration
API_BASE_URL=http://localhost:8080

# Cloudflare R2 Configuration
CLOUDFLARE_R2_ENDPOINT=https://9cda468137d1fd4eb0b930ade6113b21.r2.cloudflarestorage.com
CLOUDFLARE_R2_ACCESS_KEY=9de01edaf9b524ecb903307c466a9e43
CLOUDFLARE_R2_SECRET_KEY=0f5dcf35afbb8d962ae8b97bc8a705c729d95145517d3540aee29e292f51cc46
CLOUDFLARE_R2_BUCKET_NAME=wafipix
CLOUDFLARE_R2_REGION=auto
CLOUDFLARE_R2_PUBLIC_URL=https://pub-df8554bc8acd468e9312f01236ca95f5.r2.dev
